.territory-list {
    padding: 0 !important;
    height: 100vh;

    .collection {
        margin: 0;
        height: 100vh;
    }
}

.map {
    position: relative;
    
    .btn-floating {
        position: absolute;
        top: 50px;
        left: 25px;
    }
}