.territory-list {
    padding: 0 !important;
    
    .collection {
        height: calc(97vh - 70px);
        margin: 0;
        overflow-y: auto;
    }

    .delete-all {
        padding: 0 8px;
        height: 25px;
        line-height: 26px;
        position: relative;
        margin: -3px 0 0 5px;
    }
}

.map {
    position: relative;
    
    .btn-floating {
        position: absolute;
        top: 50px;
        left: 25px;
    }
}